.container {
  display: flex;
  width: fit-content;
  max-height: 5.5rem;
}

.button {
  height: 3rem;
  align-self: flex-end;
  border-radius: 0.5rem;
  padding: 1rem;
  font-size: 1rem;
  font-weight: 300;
}
