.container {
  padding: 2rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main {
  min-height: 20vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  border-bottom: 20px;
  border-bottom-color: aqua;
}

.newTaskContainer {
  margin-block: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-self: center;
}

.newTaskInner{
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

@media screen and (max-width: 600px) {
  .newTaskInner{
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  } 
}

  

  
